#cloud-config
users:
  - name: bogdan
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

# Enable password authentication for debugging
chpasswd:
  list: |
    bogdan:devops
  expire: false
ssh_pwauth: true